/*HEADER*/
.bg-bl{
	background-color: black;
	width: 100%;
}
.logo{
	margin:0;
}
/*Menu movil*/
#btn-menu{
	display: none;
}
header label{
	display: none;
	padding: 7%;
	border-left: 1px solid #fff;
}
header label:hover{
	cursor: pointer;
}
/*Menú Desktop*/
.menu ul{
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	
}
.menu li a{
	display: block;
	padding: 15% 7%;
	color: #fff;
	text-decoration: none;
	text-align: center;
}
/*Body*/
.bg-pr{
	background-color: #330033;
}

/* Responsive */

@media screen and (max-width : 920px) {

}

@media screen and (max-width: 600px) {
	header label{
		display: block;
	}
	.menu{
		position: absolute;
		width: 30%;
		margin-left: -200%;
	}
	.menu ul{
		flex-direction: column;
	}
	.menu li{
		border-top: 1px solid #fff;
	}
	#btn-menu:checked ~ .menu {
		margin:0;
	}
	.logo{
		width: 70%;

	}
}
